.prompt.input_prompt {visibility:collapse;}
.anchor-link {
    opacity:0;
}
.anchor-link:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}
